@import "nullstyle.scss";
@import "ibg.scss";

$museo:  "MuseoModerno", cursive;
$text: #222;
$gray: rgba(34, 34, 34, 0.5);
$gray_bg: #F6F6F6;
$orange: #FF450C;
$red: #E60003;
$white: #fff;
$yellow: #FFF200;
$pale: #C1C1C1;


.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
body{
  height: 100%;
  font: 16px/24px $museo;
  color: $text;
}
.content{
  flex: 1 0 50%;
}
.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

h1{
  text-align: left;
  font: 40px/56px $museo;
  margin-bottom: 30px;
}
h2{
  font: 600 24px/32px $museo;
  span{
    padding: 0 5px;
    font-weight: 600;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }
}
h3{
  font: 900 24px/32px $museo;
}



.top-line{
  background: $gray_bg;
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 14px;
  }
  &__links{

  }
  &__link{
    display: inline-block;
    margin-left: 15px;
    color: $gray;
    transition: all 25ms ease-in-out;
  }
  &__link:hover{
    color: $orange;
    transition: all 25ms ease-in-out;
  }
  &__link:first-child{
    margin-left: 0;
  }
  &__contacts{
    display: flex;
    justify-content: space-between;
    color: $gray;
  }
  &__text{
    padding: 0 15px;
  }
  &__phones{
    position: relative;
    padding: 0 0 0 20px;
  }
  &__phones:before{
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    content: "";
    transform: translateY(-50%);
    background: url("../images/icon-phone.svg") no-repeat;

  }
  &__phone{
    color: $gray;
    transition: all 25ms ease-in-out;
    margin: 0 0 0 10px;
  }
  &__phone:hover{
    color: $orange;
    transition: all 25ms ease-in-out;
  }
  &__phone:first-child{
    margin: 0;
  }
  @media (max-width: 767px){
    display: none;
  }
}

.header{
  position: relative;
  &:before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: $white;
    border-bottom: 1px solid #EEE;
    z-index: 9;
  }
  &__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__logo{
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 9;
  }
  &__logo img{
    width: 56px;
    height: 56px;
  }
  &__title{
    color: $text;
    margin-left: 15px;
  }
  &__burger{
    display: none;
    z-index: 9;
  }
  &__menu{
    position: relative;
    z-index: 15;
  }
  &__basket{
    position: relative;
    z-index: 9;
  }
}


.menu{
  &__links{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    position: relative;
    margin-left: 40px;
    &:first-child{
      margin-left: 0;
    }
    &:hover .sub-menu__block{
      display: block;
      transition: transform 0.6s ease 0s;
    }
  }
  &__link{
    position: relative;
    padding: 0 20px 0 0;
    color: $text;
    &:after{
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      right: 0;
      width: 16px;
      height: 16px;
      content: "";
      transition: transform 0.3s ease 0s;
      background: url("../images/array.svg") no-repeat;
    }
    &:hover{
      color: $orange;
      &:after{
        transition: transform 0.3s ease 0s;
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }
}

.sub-menu{
  &__block{
    display: none;
    position: absolute;
    top: 20px;
    left: -15px;
    padding-top: 20px;
    z-index: 5;
    transition: transform 0.6s ease 0s;
    &_active{

    }
  }
  &__inner{
    display: grid;
    grid-template-columns: minmax(130px, auto) 1fr;
    grid-column-gap: 40px;

    border: 1px solid $pale;
    border-radius: 8px;
    background: $white;
    padding: 15px;
  }
  &__list{}
  &__list li{
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
  &__link{
    color: $text;
    &:hover{
      color: $orange;
    }
  }
  &__img{}
  &__img img{
    max-width: 81px;
    height: auto;
  }
}


.basket{
  position: relative;
  transition: all 0.3s ease 0s;
  &__link{
    display: block;
    background: $yellow;
    border-radius: 28px;
    color: $text;
    transition: all 0.3s ease 0s;
  }
  &:hover>&__block{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
  }
  &:hover>&__link{
    display: block;
    background: $orange;
    transition: all 0.3s ease 0s;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  &__img{
    position: relative;
  }
  &__img img{
    width: 24px;
    height: 22px;
  }
  &__count{
    display: block;
    position: absolute;
    top: -10px;
    right: -16px;
    font-size: 14px;
    line-height: 16px;
    background: $white;
    border-radius: 50%;
    padding: 2px 6px;
  }
  &__price{
    padding-left: 20px;
  }
  &__block{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 6px 0;
    z-index: 3;
  }
  &__positions{
    position: relative;
    border: 1px solid $pale;
    border-bottom: 1px solid transparent;
    z-index: 2;
    border-radius: 16px;
    background: $white;

  }
  &__item{
    display: grid;
    grid-template-columns: 48px minmax(120px, auto) minmax(100px, auto);
    grid-column-gap: 20px;
    position: relative;
    border-top: 1px solid $pale;

    padding: 15px;
    &:first-child{
      border-top: none;
    }
  }
  &__picture{}
  &__picture img{
    max-width: 100%;
  }
  &__name{
    color: $gray;
    font: 400 14px/24px $museo;
  }
  &__name span{
    display: block;
    font: 400 16px/24px $museo;
    color: $text;
  }
  &__price-block{
    text-align: right;
  }
  &__money{
    font-weight: 600;
  }
  &__delete{
    color: $gray;
    display: inline-block;
    margin-left: 10px;
  }
  &__amount{}
  &__amount button{
    background: none;
    color: $orange;
    padding: 0 5px;
    font-weight: 900;
  }
  &__minus{}
  &__plus{}
  &__bottom-line{}
  &__btn{
    position: relative;
    display: block;
    background: $orange;
    margin-top: -15px;
    font-weight: 600;
    font-size: 16px;
    color: $white;
    text-align: center;
    padding: 28px 10px 12px;
    border-radius: 0 0 16px 16px;
    transition: background-color 0.3s ease 0s;
    z-index: 1;
  }
}

.goods{
  padding: 50px 0;
  background: #FEED01 url("../images/main_bg.jpg") top left no-repeat;
  background-size: 100% auto;
  &__inner{
    padding: 50px 0 0 0;
  }
  &__block{
    display: grid;
    grid-template-columns: repeat(3, minmax(136px, 376px));
    grid-auto-flow: row;
    grid-gap: 50px;
  }
  &__card{
    position: relative;
  }
  h2{
    text-align: center;
  }
}

.card{
  &__info{
    display: block;
    padding: 15px 15px 20px;
    position: relative;
    text-align: center;
    z-index: 2;
    background: $white;
    border-radius: 15px;
    cursor: pointer;
  }
  &__info-top{
    position: relative;
    &:after{
      position: absolute;
      display: block;
      top: -20px;
      right: -20px;
      width: 56px;
      height: 56px;
      content: "ТОП";
      background: #01A3D2;
      border-radius: 50%;
      color: $white;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      line-height: 56px;
    }
  }
  &__sale{
    position: absolute;
    top: 15px;
    left: 15px;
    border: 1px solid $red;
    border-radius: 14px;
    padding: 3px;
    font: 600 14px/24px $museo;
    text-transform: uppercase;
    color: $red;
  }
  &__sale span{
    display: block;
    background: $red;
    border-radius: 32px;
    color: $white;
    padding: 0 8px;
  }
  &__img{}
  &__img img{
    max-width: 100%;
    max-height: 100%;
  }
  &__name{}
  &__btn{
    position: relative;
    background: $pale;
    margin-top: -15px;
    display: block;
    font-weight: 600;
    color: $white;
    text-align: center;
    padding: 32px 48px 15px;
    border-radius: 0 0 16px 16px;
    transition: background-color 0.3s ease 0s;
    z-index: 1;
    &:after{
      position: absolute;
      bottom: 18px;
      right: 20px;
      display: block;
      width: 24px;
      height: 22px;
      content: "";
      background: url("../images/bask.svg") no-repeat;
      background-size: 100% 100%;
    }
    &:hover{
      background: $orange;
      transition: background-color 0.3s ease 0s;
    }
  }
}

.reviews{
  background: $gray_bg;
  padding: 45px 0;
  h2{
    margin-bottom: 30px;
  }
  &__block{
    display: grid;
    grid-template-columns: repeat(3, minmax(288px, 376px));
    grid-column-gap: 50px;
  }
}
.review{
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(30px, auto)/ 1fr;
  background: $white;
  border-radius: 10px;
  &__hat{
    display: grid;
    grid-template-columns: 72px 1fr;
    grid-column-gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #EEE;
  }
  &__img{}
  &__img img{
    width: 100%;
    height: auto;
  }
  &__title{

  }
  &__name{
    font-weight: 600;
  }
  &__name-m{
    margin-bottom: 10px;
  }
  &__rating{}
  &__article{}
  &__body{
    padding: 15px;
  }
  &__links{
    padding: 0 15px 15px 15px;
    text-align: right;
  }
  &__link{
    position: relative;
    padding: 0 20px 0 0;
    font-weight: 600;
    color: $orange;
    &:after{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 12px;
      height: 12px;
      content: "";
      background: url("../images/arr.svg") no-repeat;
    }
  }
}

.rating{
  position: relative;
  font-size: 18px;
  display: inline-block;
  &__items{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  &__item{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
  &__label{
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: $text;
    &:before{
      content: "★";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
}
.rating__label:hover,
.rating__label:hover ~ .rating__label,
.rating__label:checked ~ .rating__label:hover{
  color: #FEAA00;
}
.rating__item:checked, .rating__item:checked ~ .rating__label{
  color: #FEAA00;
}
.rating:before{
  display: block;
  content: "★★★★★";
}


.main-info{
  padding: 50px 0 140px;
  &__inner{
    display: grid;
    grid-template-columns: 220px 1fr;
  }
  &__img{
    width: 160px;
  }
  &__img img{
    width: 100%;
  }
  &__block{
    h3{
      margin-bottom: 15px;
    }
  }
}

.order{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 176px;
  &:before{
    position: absolute;
    display: block;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 64px;
    height: 64px;
    background: url("../images/product0.png");
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__hat{
    font: 600 24px/32px $museo;
    margin-bottom: 20px;
  }
}

.blog{
  padding: 0 0 120px 0;
  &__row{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
  &__item{
    //height: 154px;
    border: 1px solid $orange;
    border-radius: 16px;
    padding: 24px;
  }
  &__inner{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__item h2{
    margin-bottom: 16px;
  }
  &__link{
    color: $text;
    transition: all 0.3s ease 0s;
    &:hover{
      color: $orange;
      transition: all 0.3s ease 0s;
    }
  }
  &__item p{
    line-height: 28px;
    text-align: justify;
  }
  @media (max-width: 767px){
    &__inner{
      -webkit-line-clamp: 7;
    }
  }
}
.bread-crumbs{
  padding: 40px 0 0 0;
  margin-bottom: 15px;
  &__link{
    position: relative;
    color: $gray;
    padding: 0 0 0 20px;
    margin: 0 0 0 12px;
    transition: all 0.3s ease 0s;
    &:first-child{
      padding: 0;
      margin: 0;
      &:before{
        display: none;
      }
    }
    &:before{
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 6px;
      height: 8px;
      content: "";
      background: url("../images/arr_gray.svg") no-repeat;
    }
    &:hover{
      color: $orange;
      transition: all 0.3s ease 0s;
    }
  }
  @media (max-width: 767px){

  }
}
.article{
  padding: 0 0 120px 0;
  &__text{
    margin-bottom: 30px;
  }
}
.how-to-buy{
  order: 1;
  padding: 0 0 120px 0;
}
.about-us{
  padding: 0 0 120px 0;
  order: 1;
}
.contacts{
  padding: 0 0 120px 0;
  order: 1;
}
.recall{
  h2{
    font: 40px/56px $museo;
  }
  &__block{}
  &__item{
    padding: 20px 0;
    border-top: 1px solid $pale;
    &:first-child{
      border-top: none;
    }
  }
  &__name{
    font: 600 18px/28px $museo;
  }
  &__city{
    font: 400 14px/24px $museo;
    color: $gray;
    margin-bottom: 15px;
  }
  &__text{
    font: 14px/24px $museo;
    margin-bottom: 15px;
  }

}
.product-card{
  h2{
    margin-bottom: 15px;
  }
  &__row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
  }
  &__img{
  }
  &__img img{
    max-width: 100%;

  }
  &__info{}
  &__conditions{}
}
.conditions{
  margin-bottom: 20px;
  &__item{
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 28px;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    align-items: center;
    align-self: start;
  }
  &__name{
    position: relative;
    font-weight: 600;
    padding-left: 40px;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 22px;
      height: 22px;
      content: "";
    }
    &_box{
      &:before{
        background: url("../images/ic-box.svg") no-repeat;
      }
    }
    &_car{
      &:before{
        background: url("../images/ic-car.svg") no-repeat;
      }
    }
    &_card{
      &:before{
        background: url("../images/ic-card.svg") no-repeat;
      }
    }
  }
  &__descr{
    display: flex;
  }
  &__link{
    margin-left: 10px;
    align-self: center;
    &:first-child{
      margin-left: 0;
    }
  }
  &__link img{

  }
}
.table{
  margin-bottom: 48px;
  &__inner{
    border: 1px solid #EEE;
    border-radius: 16px;
  }
  &__type{
    padding: 24px;
  }
  &__link{
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 12px 32px;
    background: $white;
    border: 1px solid #EEE;
    border-radius: 25px;
    color: $orange;
    transition: all 30ms ease-in-out;
    margin-left: 24px;
    &:first-child{
      margin-left: 0;
    }
    &_active{
      background: $orange;
      color: $white;
      border: 1px solid $orange;
    }
  }
  &__body{
    display: none;
    &_active{
      display: block;
    }
  }
  &__item{
    &:first-child{
      background: $gray_bg;
    }
    &:last-child{
      border-bottom: none;
    }
  }
  &__item:first-child &__wrap{
    border-bottom: none;
  }
  &__wrap{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 150px;
    grid-column-gap: 15px;
    padding: 24px 44px 16px 0;
    margin: 0 24px;
    line-height: 48px;
    border-bottom: 1px solid #EEE;
  }
  &__buy{
    position: relative;
    display: inline-block;
    background: $orange;
    border-radius: 48px;
    font: 16px/48px $museo;
    padding: 0 35px 0 24px;
    color: $white;
    &:after{
      position: absolute;
      top: 50%;
      right: 20px;
      display: block;
      width: 24px;
      height: 22px;
      content: "";
      transform: translateY(-50%);
      background: url("../images/bask.svg") no-repeat;
      background-size: 100% 100%;
    }
  }
}
.wrap{
  order: 1;
}




.base-btn{
  position: relative;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  padding: 12px 32px;
  background: $orange;
  border-radius: 25px;
  color: $white;
  transition: all 30ms ease-in-out;
  &:hover{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    transition: all 30ms ease-in-out;
  }
  &__prev{
    padding-left: 50px;
    &:before{
      display: block;
      position: absolute;
      top: 20px;
      left: 30px;
      width: 5px;
      height: 8px;
      content: "";
      background: url("../images/arr_white.svg") no-repeat;
    }
  }
}
.txt-block{
  p{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  span{
    font-weight: 900;
  }
  &__link{
    color: $orange;
  }
  ul{
    li{
      position: relative;
      padding-left: 10px;
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "-";
      }
    }
  }
}
.form{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  &__item{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    margin-bottom: 24px;
    &:first-child{
      margin-right: 24px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item-textarea{
    width: 100%;
  }
  label{
    color: $gray;
  }
  label span{
    color: $orange;
  }
  input{
    width: 280px;
    padding: 15px;
    border: 1px solid #EEE;
    border-radius: 8px;
    font: 16/24px $museo;
    color: $text;
  }
  textarea{
    width: 100%;
    height: 224px;
    padding: 15px;
    border: 1px solid #EEE;
    border-radius: 8px;
    font: 16/24px $museo;
    color: $text;
  }
}

.with-aside{
  display: grid;
  grid-template-columns: auto 290px;
  grid-column-gap: 45px;
}

.aside{
  margin-bottom: 40px;
  order: 2;
  &__inner{
    padding: 10px 0;
    border: 1px solid #EEEEEE;
    border-radius: 16px;
  }
  &__inner_light &__link{
      color: $gray;
      font-weight: normal;
  }
  &__inner_light &__link_active{
    color: $text;
    &:before{
      display: block;
    }
  }
  li{
    padding: 15px 25px;
  }
  &__link{
    position: relative;
    color: $text;
    font-weight: 900;
    transition: all 30ms ease-in-out;
    &:hover{
      color: $orange;
      transition: all 30ms ease-in-out;
    }
    &:before{
      position: absolute;
      display: none;
      top: 50%;
      left: -26px;
      transform: translateY(-50%);
      width: 3px;
      height: 48px;
      content: "";
      background: url("../images/before.svg") no-repeat;
    }

  }
  &__link-active{
    &:before{
      display: block;
    }
  }
}



.footer{
  background: $orange;
  padding: 30px 0;
  color: $white;
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__column{
    width: 20%;
  }
  &__column:first-child{
    width: 27%;
  }
  &__block{
    margin-bottom: 15px;
  }
  &__contacts{
    margin-bottom: 30px;
  }
  &__contact{}
  &__span{
    display: block;
    padding-left: 35px;
    position: relative;
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
    &:before{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      content: "";
    }
  }

  &__span-p{
    &:before{
      background: url("../images/ic-phone.svg");
    }
  }
  &__span-m{
    &:before{
      background: url("../images/ic-mail.svg");
    }
  }
  &__title{
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__list{

  }
  &__list li{
    margin-top: 5px;
  }
  &__list li:first-child{
    margin-top: 0;
  }
  &__link{
    color: $white;
  }
  &__contact{
    margin: 0 0 15px 0;
  }
  &__logos{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  &__logo{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 48px;
  }
  &__logo img{
    max-height: 100%;
  }
  &__logo-b{
    max-height: 64px;
  }
  &__copy{

  }
}





@media (max-width: 992px){
  body{
    font: 14px/24px $museo;
  }
  body.lock{
    overflow: hidden;
  }
  h1{
    font: 24px/32px $museo;
    margin-bottom: 16px;
  }
  h2{
    font: 300 18px/24px $museo;
  }
  h3{
    font: 900 18px/24px $museo;
  }

  .header{
    &__body{
      height: 56px;
    }
    &__logo{
      height: 50px;
      width: 50px;
      order: 2;
    }
    &__logo img{
      height: 50px;
      width: 50px;
    }
    &__logo span{
      display: none;
    }
    &__burger{
      display: block;
      position: relative;
      width: 20px;
      height: 16px;
    }
    &__burger:before, &__burger:after{
      position: absolute;
      left: 0;
      content: "";
      background: $text;
      width: 100%;
      height: 2px;
      border-radius: 1px;
    }
    &__burger span{
      position: absolute;
      left: 0;
      top: 7px;
      content: "";
      background: $text;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      transition: all 0.3s ease 0s;
    }
    &__burger:before{
      top: 0;
      transition: all 0.3s ease 0s;
    }
    &__burger:after{
      bottom: 0;
      transition: all 0.3s ease 0s;
    }
    &__burger.active span{
      transform: scale(0);
      transition: all 0.3s ease 0s;
    }
    &__burger.active:before{
      transform: rotate(45deg);
      top: 7px;
      transition: all 0.3s ease 0s;
    }
    &__burger.active:after{
      transform: rotate(-45deg);
      bottom: 7px;
      transition: all 0.3s ease 0s;
    }
    &__menu{
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background: $white;
      padding: 56px 16px 0 16px;
      transition: all 0.5s ease 0s;
      order: 1;
    }
    &__menu.active{
      top: 40px;
      transition: all 0.5s ease 0s;
    }
    &__basket{
      order: 3;
      z-index: 15;
    }
  }



  .menu{
    &__links{
      display: block;
    }
    &__links>li:hover .sub-menu__block{
      display: none;
    }
    &__link{
      display: block;
      &:after{
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        right: 0;

      }
      &:hover{
        &:after{
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }
    &__item{
      margin-left: 0;
      padding: 15px 0;
      border-bottom: 1px solid #EEE;
    }
    &__item_active .sub-menu__block{
      display: block;
    }
  }
  .sub-menu{
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: $white;
    padding: 56px 16px 0 16px;
    transition: all 0.5s ease 0s;
    &__block{
      display: none;
      z-index: 5;

      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background: $white;
      padding: 56px 16px 0 16px;
      transition: all 0.5s ease 0s;
      &_active{
        display: block;
        top: 96px;
        transition: all 0.5s ease 0s;
        padding: 0 16px;
      }
    }
    &__inner{
      display: block;
      border: none;
      padding: 0;
    }
    &__list{
      display: block;
    }
    &__list li{
      margin-left: 0;
      padding: 15px 0;
      border-bottom: 1px solid #EEE;
    }
    &__img{
      display: none;
    }
    &_active{
      top: 0;
      transition: all 0.5s ease 0s;
    }
  }


  .basket{
    &__link{
      background: $white;
    }
    &__count{
      background: $yellow;
    }
    &__price{
      display: none;
    }
    &__block{
      z-index: 15;
      &_active{
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease 0s;
      }
    }
  }
  .goods{
    padding: 30px 0;
    &__inner{
      padding: 30px 0 0 0;
    }
    &__block{
      grid-gap: 30px;
    }
  }
  .card{
    &__info-top{
      &:after{
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        font-size: 12px;
        line-height: 40px;
      }
    }
    &__sale{
      top: 8px;
      left: 8px;
      border-radius: 10px;
      font: 600 10px/16px $museo;
    }
    &__sale span{
      padding: 0 4px;
    }
    &__btn{
      margin-top: -15px;
      padding: 23px 32px 8px;
      &:after{
        bottom: 10px;
        right: 20px;
        width: 20px;
        height: 18px;
      }
    }
  }
  .order{
    height: 152px;
    &__hat{
      font: 600 18px/24px $museo;
      margin-bottom: 15px;
    }
  }
  .main-info{
    padding: 30px 0 60px;
    &__inner{
      display: block;
    }
    &__img{
      display: none;
    }
    &__block{
      h3{
        margin-bottom: 8px;
      }
    }
  }
  .reviews{
    position: relative;
    padding: 30px 0 20px;
    h2{
      margin-bottom: 15px;
    }
    &__block{
      display: block;
    }
  }
  .review{
    min-width: 288px;
  }
  .recall{
    h2{
      padding-top: 20px;
      font: 24px/32px $museo;
    }
  }
  .bread-crumbs{
    padding: 15px 0 0 0;
  }
  .table{
    margin-bottom: 30px;
    &__link{
      padding: 7px 20px;
      margin-left: 10px;
    }
    &__wrap{
      grid-template-columns: 2fr 1fr 1fr 1fr 50px;
      grid-column-gap: 10px;
      line-height: 40px;
    }
    &__buy{
      text-align: center;
      font: 14px/40px $museo;
      width: 40px;
      height: 40px;
      padding: 0;
      span{
        display: none;
      }
      &:after{
        top: 50%;
        left: 50%;
        width: 20px;
        height: 18px;
        transform: translate(-50%, -50%);
      }
    }
  }


  .slick-track{

  }
  .slick-slide{
    padding: 0 10px;
  }
  .slick-list{
    margin-bottom: 15px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      margin-left: 10px;
      &:first-child{
        margin-left: 0;
      }
      &.slick-active button{
        background: $orange;
      }
    }
  }
  .slick-active{}
  .slick-dots button{
    width: 6px;
    height: 6px;
    background: $text;
    border-radius: 50%;
    font-size: 0;
  }

  .footer{
    &__logo-b{
      max-height: 48px;
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }

}
@media (max-width: 767px){
  body{
    font: 14px/24px $museo;
  }


  .header{
    &__menu{
      padding: 0px 16px 0 16px;
    }
    &__menu.active{
      top: 56px;
    }
    &__logo{
      height: 40px;
      width: 40px;
    }
    &__logo img{
      height: 40px;
      width: 40px;
    }
  }
  .sub-menu{
    &__block{
      padding: 0px 16px 0 16px;
      &_active{
        display: block;
        top: 56px;
        padding: 0 16px;
      }
    }
  }
  .sub-menu.active{
    top: 0;
    transition: all 0.5s ease 0s;
  }

  .goods{
    &__block{
      display: grid;
      grid-template-columns: repeat(2, minmax(136px, 376px));
      grid-auto-flow: row;
      grid-gap: 16px;
    }
  }
  .card{
    &__btn{
      &:after{
        right: 10px;
      }
    }
  }
  .blog{
    padding: 0 0 60px 0;
  }
  .with-aside{
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  .aside{
    order: 1;
    margin-bottom: 15px;
    &__inner{
      padding: 0;
      transition: all 1s ease;
    }
    &__inner_active{
      padding: 10px 0;
      transition: all 1s ease;
      &__link{
        display: block;
      }
    }
    &__inner_active &__link{
      display: block;
      padding: 15px 25px;
    }
    &__inner_light &__link_active{
      display: block;
      &:before{
        display: none;
      }
      &:after{
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        right: 15px;
        width: 30px;
        height: 16px;
        content: "";
        background: url("../images/array.svg") no-repeat;
        background-size: 100% 100%;
      }
    }
    &__inner_light li &__link_active{
      padding: 15px 25px;
    }
    li{
      padding: 0;
    }
    &__link{
      display: none;
    }
  }
  .how-to-buy{
    order: 2;
    padding: 0 0 60px 0;
  }
  .article{
    padding: 0 0 60px 0;
    &__text{
      margin-bottom: 15px;
    }
  }
  .about-us{
    padding: 0 0 60px 0;
  }
  .contacts{
    padding: 0 0 60px 0;
  }
  .product-card{
    &__row{
      display: block;
    }
    &__img{
      text-align: center;
    }
    &__img img{
      max-width: 288px;
    }
  }
  .conditions{
    &__item{
      grid-column-gap: 15px;
    }
    &__link{
      margin-left: 5px;
    }
  }

  .table{
    &__type{
      padding: 15px;
    }
    &__link span{
      display: none;
    }
    &__wrap{
      display: grid;
      grid-template-columns: 3fr 1fr 40px;
      padding: 10px 0;
    }
    &__wrap span{
      &:nth-child(1),&:nth-child(2){
        display: none;
      }
    }
  }
  .form{
    display: block;
    &__item{
      margin-bottom: 16px;
      &:first-child{
        margin-right: 0;
      }
    }
    &__item .base-btn{
      display: inline-block;
      width: 130px;
    }
    input{
      width: 100%;
    }
  }
  .txt-block{
    p{
      margin-bottom: 15px;
    }
  }
  .slick-slide{
    padding: 0;
  }

  .footer{
    padding: 24px 0;
    &__row{
      display: block;
    }
    &__column{
      width: 100%;
      padding-bottom: 24px;
      border-bottom: 1px solid #C72F00;
      margin-bottom: 24px;
      &:last-child{
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    &__column:first-child{
      width: 100%;
    }
    &__block{
      margin-bottom: 15px;
    }
    &__contacts{
      margin-bottom: 20px;
    }
    &__title{
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}








